@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --text: #202020;
  --sidebar-background: #FCFAF8;
  --button-background: #DC4C3E;
  --button-background-disabled: #EDA59E;
  --gray: #F5F5F5;
  --border: #EEEEEE;
  --placeholder: #999999;
  --hover: #F2EFED;

  /* Colors for categories */
  --blush-pink: #F6A6B8;
  --coral-red: #F28D7B;
  --amber-gold: #D4B373;
  --ocean-blue: #9FC7E7;
  --emerald-green: #A2D6A7;
  --sapphire-blue: #A5C8E7;
  --lavender-purple: #B8A1D2;
  --sanset-orange: #F0B87B;
  --mint-green: #A4D6B6;
  --crimson-red: #E29595;
  --steel-gray: #B7BCC1;
  --slate-blue: #A5B9D9;
  --rosewood: #F1A7A7;
  --ivory-white: #F2E2C4;
  --chocolate-brown: #C9A88C;
  --forest-green: #A7D9A4;
  --sky-blue: #A3C7E9;
  --golden-yellow: #E4C180;
  --midnight-black: #D8D8D8;
  --peach-pink: #F2C8A3;

  /* Priority */
  --low: #A3C9E2;
  --medium: #A9D8B7;
  --high: #D1A6F2;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background: var(--background);
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.option {
  @apply cursor-pointer p-2 pr-4 flex items-center gap-2;
  z-index: 9999;
}

.option.active {
  background: var(--gray);
}

.option:hover {
  background: var(--gray);
}

.option:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.option:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}